* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

canvas {
  border: 1px solid silver;
}

footer {
  display: flex;
  justify-content: space-around;
}

button {
  border: 0;
  background-color: #eeeeee;
  color: black;
  padding: 10px;
  border-radius: 50%;
  outline: 0;
  display: inline-block;
  width: 30px;
  align-self: center;
  margin-top: 10px;
}

